<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <h1>Answer:</h1>
  <p style="padding:10px"><%= solution %></p>

</body>
</html>
